@using MvcOTEL.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "odalarım";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<br />
<h2>Geçmiş İşlemler</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Oda No</th>
        <th>Kiralama Tarihi</th>
        <th>Ayrılma Tarihi</th>
    </tr>
    @foreach (var k in Model)
            {
                <tr>
                    <td>@k.TBLOTEL.NO</td>
                    <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
                    <td>@Convert.ToDateTime(k.VERISTARIHI).ToString("dd/MM/yyyy")</td>
                </tr>
            }
</table>