@model MvcOTEL.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-froup" method="post">
    <div></div>
    <div style="margin-top:25px">
        <label>---Kategori Adı Girin---</label>
        <input type="text" class="form-control" name="AD" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" id="btn1">Kategori Ekle</button>
    </div>
</form> 

